@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -28%;
        left: 0;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
        box-shadow: rgb(0 0 0 / 20%) 2px 4px 4px;
    }
}