.contacts {
    position: relative;
    padding: 30px 0 50px 0;
    background-color: #fff;
    &__title {
        position: relative;
        padding-left: 12px;
        @include before_circle;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    &__mail {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 100px;
        border: 1px solid #000;
        border-radius: 5px;
        div {
            position: absolute;
            top: 0;
            left: 22px;
            transform: translateY(-50%);
            font-weight: bold;
            padding: 0 10px;
            background-color: #fff;
        }
        a {
            position: relative;
            text-decoration: none;
            color: #000;
            &:hover {
                color: $main-color;
                path {
                    fill: $main-color;
                }
            }
            img {
                width: 41px;
                height: 30px;
                margin-right: 12px;
            }
            svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 41px;
                height: 30px;
            }
        }
    }
    &__social {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 350px;
        height: 100px;
        padding: 0 20px;
        border: 1px solid #000;
        border-radius: 5px;
        div {
            position: absolute;
            top: 0;
            left: 22px;
            transform: translateY(-50%);
            font-weight: bold;
            padding: 0 10px;
            background-color: #fff;
        }
        a {
            height: 30px;
            width: 30px;
            margin: 0 12px 0 12px;
            svg {
                max-width: 30px;
                max-height: 30px;
            }
            &:hover {
                text-decoration: none;
                svg path {
                    fill: $main-color;
                }
            }
        }
    }
    &__phone {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 100px;
        border: 1px solid #000;
        border-radius: 5px;
        div {
            position: absolute;
            top: 0;
            left: 22px;
            transform: translateY(-50%);
            font-weight: bold;
            padding: 0 10px;
            background-color: #fff;
        }
        a {
            text-decoration: none;
            color: #000;
            &:hover {
                color: $main-color;
                path {
                    fill: $main-color;
                }
            }
            img {
                width: 35px;
                height: 35px;
            }
            svg {
                width: 41px;
                height: 30px;
            }
        }
    }
}
.subtitle_center {
    line-height: 60px;
}