.resume {
    padding-top: 120px;
    &__wrapper {
        padding: 60px 65px 0 65px;
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                position: absolute;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $main-color;

            }
        }
    }
    ul {
        list-style-type: none;
        li {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: -16px;
                left: 0;
                background-color: #000;
                width: 1px;
                height: calc(100% + 16px);
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 68px;
            width: 45px;
            height: 1px;
            background-color: #000;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
            h4 {
                margin-bottom: 5;
            }
        }
        &-body {
            margin-top: 12px;
            padding-left: 43px;
            font-size: 12px;
            line-height: 18px;
            width: 375px;
        }
        &-icon {
            position: absolute;
            top: 50px;
            left: 45px;
            @include before_circle;
            img {
                position: absolute;
                top: 14px;
                left: 17px;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
        }
    }
}